openapi: 3.1.0
info:
  title: Streak REST Boxes Webhooks API
  description: 'RESTful API for the Streak CRM (a Gmail-based pipeline management tool) exposing

    CRUD access to pipelines, boxes (records), stages, custom fields, threads, tasks,

    files, comments, users, and teams.


    Authentication uses HTTP Basic Auth with the API key supplied as the username and

    an empty password. All requests must use HTTPS.

    '
  version: 1.0.0
  contact:
    name: Streak Support
    url: https://streak.readme.io/docs
  license:
    name: Proprietary
servers:
- url: https://api.streak.com/api/v1
  description: Streak API v1
- url: https://api.streak.com/api
  description: Streak API (root, used by some v2 endpoints)
security:
- basicAuth: []
tags:
- name: Webhooks
paths:
  /pipelines/{pipelineKey}/webhooks:
    parameters:
    - in: path
      name: pipelineKey
      required: true
      schema:
        type: string
    get:
      tags:
      - Webhooks
      summary: List all webhooks registered on a pipeline
      operationId: listPipelineWebhooks
      responses:
        '200':
          description: An array of webhooks
    post:
      tags:
      - Webhooks
      summary: Create a new webhook on a pipeline
      operationId: createPipelineWebhook
      responses:
        '200':
          description: The created webhook
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic Authentication. Set the username to your Streak API key and leave

        the password empty. Obtain an API key from

        https://support.streak.com/en/articles/2612883-get-your-streak-api-key.

        '
