openapi: 3.1.0
info:
  title: Streak REST Boxes Pipelines API
  description: 'RESTful API for the Streak CRM (a Gmail-based pipeline management tool) exposing

    CRUD access to pipelines, boxes (records), stages, custom fields, threads, tasks,

    files, comments, users, and teams.


    Authentication uses HTTP Basic Auth with the API key supplied as the username and

    an empty password. All requests must use HTTPS.

    '
  version: 1.0.0
  contact:
    name: Streak Support
    url: https://streak.readme.io/docs
  license:
    name: Proprietary
servers:
- url: https://api.streak.com/api/v1
  description: Streak API v1
- url: https://api.streak.com/api
  description: Streak API (root, used by some v2 endpoints)
security:
- basicAuth: []
tags:
- name: Pipelines
paths:
  /pipelines:
    get:
      tags:
      - Pipelines
      summary: List all pipelines accessible to the authenticated user
      operationId: listPipelines
      responses:
        '200':
          description: An array of pipelines
    post:
      tags:
      - Pipelines
      summary: Create a new pipeline
      operationId: createPipeline
      responses:
        '200':
          description: The created pipeline
  /pipelines/{pipelineKey}:
    parameters:
    - in: path
      name: pipelineKey
      required: true
      schema:
        type: string
      description: Unique identifier for the pipeline
    get:
      tags:
      - Pipelines
      summary: Get a single pipeline
      operationId: getPipeline
      responses:
        '200':
          description: A pipeline object
    put:
      tags:
      - Pipelines
      summary: Edit a pipeline
      operationId: updatePipeline
      responses:
        '200':
          description: The updated pipeline
    delete:
      tags:
      - Pipelines
      summary: Delete a pipeline
      operationId: deletePipeline
      responses:
        '200':
          description: Deletion result
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic Authentication. Set the username to your Streak API key and leave

        the password empty. Obtain an API key from

        https://support.streak.com/en/articles/2612883-get-your-streak-api-key.

        '
